
<p>
  <b>Organization:</b>
  <%= @team.organization.name %>
</p>

<p>
  <b>Year:</b>
  <%= @team.year %>
</p>

<p>
  <b>Wins:</b>
  <%= @team.wins %>
</p>

<p>
  <b>Losses:</b>
  <%= @team.losses %>
</p>

<p>
  <b>Achievements:</b>
  <%= @team.achievements %>
</p>




<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>

<br><br>

  <b>Players:</b>
    <br>
  <table>
  <tr>
    <th>Year</th>
    <th>Wins</th>
    <th>Losses</th>
    <th>Achievements</th>
    <th width='20px'></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


   <% @team.users.each do |user| %>
     <% user.memberships.where("team_id = ?", "3").each do |member| %>
         <%= member.jersey_number %>
     
         <%= user.name %>
     
         <%= member.position %>
     <% end %>
     <br>
  <% end %>

  <%= link_to 'Add me as a player', new_team_membership_path(@team)  %>

  <br><br><br>
  </table>
