
<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Dob:</b>
  <%= @user.dob %>
</p>

<p>
  <b>City:</b>
  <%= @user.city %>
</p>

<p>
  <b>State:</b>
  <%= @user.state %>
</p>

<p>
  <b>Country:</b>
  <%= @user.country %>
</p>

<p>
  <b>Height:</b>
  <%= @user.height %>
</p>

<p>
  <b>Weight:</b>
  <%= @user.weight %>
</p>

<p>
  <b>Favorite sport:</b>
  <%= @user.favorite_sport %>
</p>

<p>
  <b>Icon image:</b>
  <%= @user.icon_image %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>


<br><br>

  <b>Teams (years):</b>
    <br>
  <table>
  <tr>
    <th>Year</th>
    <th>Wins</th>
    <th>Losses</th>
    <th>Achievements</th>
    <th width='20px'></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


  <% @user.teams.each do |team| %>
  <tr>
    <td><%= team.year %></td>
    <td><%= team.wins %></td>
    <td><%= team.losses %></td>
    <td><%= team.achievements %></td>
    <td width='20px'></td>
    <td><%= link_to 'Show', team %></td>
    <td><%= link_to 'Edit', edit_team_path(team) %></td>
    <td><%= link_to 'Destroy', team, confirm: 'Are you sure?',
                                     method: :delete %></td>
  </tr>
<% end %>
  </table>
