
<h2>
  <%= @organization.name %>
</h2>
  


<p>
  <b>Mascot:</b>
  <%= @organization.mascot %>
</p>

<p>
  <b>Location:</b>
  <%= @organization.location %>
</p>

<p>
  <b>Level:</b>
  <%= @organization.level %>
</p>

<p>
  <b>Sport:</b>
  <%= @organization.sport %>
</p>






<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
<br><br>

  <b>Teams (years):</b>
    <br>
  <table>
  <tr>
    <th>Year</th>
    <th>Wins</th>
    <th>Losses</th>
    <th>Achievements</th>
    <th width='20px'></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


  <% @organization.teams.each do |team| %>
  <tr>
    <td><%= team.year %></td>
    <td><%= team.wins %></td>
    <td><%= team.losses %></td>
    <td><%= team.achievements %></td>
    <td width='20px'></td>
    <td><%= link_to 'Show', team %></td>
    <td><%= link_to 'Edit', edit_team_path(team) %></td>
    <td><%= link_to 'Destroy', team, confirm: 'Are you sure?',
                                     method: :delete %></td>
  </tr>
<% end %>
  </table>



  


